body {
  font-family: Verdana, sans-serif;
  background-color: #000000;
  text-align: center;
}

.top-heading {
  font-weight: normal;
  font-size: 50px;
  color: #FFFFFF;
  ;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

.medium-heading {
  font-weight: 300;
  color: #FFFFFF;
  font-size: 42px;
}

p {
  color: gray;
  font-size: 21px;
}

.phone-icon {
  margin: 20px auto;
}